---
import FaqSection from "@/components/faq-section";
import MainLayout from "@/layouts/main-layout.astro";
import PasswordLeak from "@/components/api-amazon";
import { Skeleton } from "@/components/ui/skeleton"

---

<MainLayout
  title="Verifica la Seguridad de tu Correo Electrónico"
  description="Permite consultar si una cuenta fue comprometida"
  mainClass="min-h-screen container max-w-screen-md py-10"
>
  <section>
  
    <div class="space-y-6 text-center mb-14">
      <h1 class="font-heading text-4xl text-center ">
        Verifica la Seguridad de tu Correo Electrónico
      </h1>
      <p class="text-muted-foreground text-md ">
        Comprueba si tu Correo fue Víctima de un <a  href="/blog/data-breach/" rel="noreferrer" class="underline underline-offset-2">
          Databreaches
        </a>
      </p>
     
    </div> <div class="space-y-6 text-center mb-10"><PasswordLeak client:load  /></div>
 
    <div class="space-y-6 text-center mb-14">
    
      <div class="space-y-6 text-center mb-14">
        <p class="text-muted-foreground text-sm">
          Queremos que te sientas seguro utilizando nuestro servicio. Por eso, te garantizamos que en <strong>CodeManPTY</strong>  nunca solicitaremos tu contraseña. Solo necesitamos tu dirección de correo electrónico para proporcionarte información detallada sobre la seguridad de tu cuenta. Protege tu privacidad sin preocupaciones
        </p>
      </div>
    </div>
    <FaqSection client:load /> 
  </section>
</MainLayout>
